.title {
    margin-top: 3rem;
    margin-bottom: 4rem;
    color: #fff;
    font-size: 3rem;
    text-shadow: 1px 1px 1px rgb(110, 109, 109);
    font-family: "Sora";
}

.arrowIcon {
    font-size: 4rem;
    padding-top: 6rem;
}
.arrowIcon path {
    color: #fff;
}
.icon {
    font-size: 5rem;
    margin-top: 20px;
}


.icon path {
    color: #1e5fa0
}

.backgroundHome {
    background-image: url('../../assets/home.jpeg');
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

@media (min-width: 650px) {
    .backgroundHome {
        height: 70vh;
    }
  }