.phone-card a {
    color: #333;
    cursor: pointer;
}

.phone-card  p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: left;
}

.phone-card span {
    font-weight: 600;
}
.phone-card  h1 {
    font-size: 1.6rem;
    padding: 10px;
    background: #e7e7e7;
}

.phone-card img {
    margin-top:2.5rem;
    margin-bottom:2.5rem;
    height: 300px;
}

.phone-card {
    width: 100%;
    padding-bottom: 2rem;
}

@media (min-width: 650px) {
    .phone-card  p {
        font-size: 2rem;
    }
    .phone-card  h1{
        font-size: 2rem;
    }
    .wrapper {
        margin: 0 auto;
        max-width: 600px;
    }
  }